daemonSet:
  enabled: true # Un agent par noeud du cluster

filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log
        processors:
          - add_kubernetes_metadata: 
              host: ${NODE_NAME}
              matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"
    output.elasticsearch:
      hosts: ["http://elasticsearch-master:9200"]
      protocol: "http"

    setup.kikana:
      host: "http://kibana-kibana:5601" 