apiVersion: v1
kind: Secret
metadata: 
  name: db-credentials
type: Opaque
stringData:
  # Kubernetes va encoder ça en base64 pour nous.
  # Dans la vraie vie, on utiliserait Vault, mais c'est déjà mieux que du texte brut.
  password: "CHANGE_ME"