name: DevSecOps Pipeline

on: 
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs: 
    # JOB 1 : SAST (Code Security)
    security-sast:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.9'

            - name: Install Dependencies
              run: |
                python -m pip install --upgrade pip
                pip install bandit
            
            - name: Run Bandit (SAST)
              # On scanne le dossier app/
              run: bandit -r app/ -ll

    # JOB 2 : BUILD & SCA (Container Security)
    build-and-scan:
        needs: security-sast # Attend que le SAST soit vert
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Build Docker Image
              run: docker build -t secure-api:${{ github.sha }} .

            - name: Run Trivy Vulnerability Scanner
              run: aquasecurity/trivy-action@master
              with:
                image-ref: 'secure-api:${{ github.sha}}'
                format: 'table'
                # On ne bloque pas le build pour l'exemple (exit-code 0)
                # Mais en prod, on mettrait 1 pour bloquer sur CRITICAL
                exit-code: '0'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'